<h1>New Artist Form</h1>

<% if flash[:my_errors] %>
  <% flash[:my_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>



<%= form_for @artist do |f| %>
  <%= f.label :Artist %>
  <%= f.text_field :name %>

  <%= f.label :Title %>
  <%= f.text_field :title %>

  <%= f.label :Age %>
  <%= f.text_field :age %>


  <%= f.submit %>
<% end %>
