<h1>New ArtistInstrument</h1>

<%= form_for @artist_instrument do |f| %>
  <%= f.label :Artist %>
  <%= f.collection_select :artist_id, @artists, :id, :name %>

  <%= f.label :Instrument %>
  <%= f.collection_select :instrument_id, @instruments, :id, :name %>



  <%= f.submit %>
<% end %>
